<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="card">
          <div class="col-sm-12 mt-3">

            <div class="instruction">
              RESULT SYSTEM AUTO HAI KOI PROBLEM AATI HAI TO ADMIN SE CONTACT KARE
            </div>

            <!--Slider Start-->

            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="homeimage1.jpeg" class="d-block w-100" alt="First Slide">
                </div>
                <div class="carousel-item">
                  <img src="homeimage2.jpeg" class="d-block w-100" alt="Second Slide">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <!--Slider End-->
            <div class="game">
              <p>Games</p>

              <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#rules">
                <i class="bi bi-info-circle"></i>&nbsp;Rules
              </button>
            </div>
            <!--Game Section-->


            <div class="gameOption">
              <div>
                <a routerLink="/classicludo"><img src="classic.jpeg" height="100px"></a>
              </div>
              <div>
                <a routerLink="/snake-and-ladder"><img src="snake_banner.png" height="100px" width="100px"></a>
              </div>
            </div>
            <hr>
            <!--Game Senction End-->

            <div class="row">
              <div class="col-sm-12">
                <div class="footer">
                  <p class="footerpara">Support</p>

                  <div class="d-flex justify-content-center gap-3 mb-5">
                    <a href="#" class="text-decoration-none" target="_blank">
                      <i class="bi bi-whatsapp" style="font-size: 2rem; color:#25D366"></i>
                    </a>
                    <a href="#" class="text-decoration-none" target="_blank">
                      <i class="bi bi-instagram" style="font-size: 2rem; color:#E4405F"></i>
                    </a>
                    <a href="#" class="text-decoration-none" target="_blank">
                      <i class="bi bi-telegram" style="font-size: 2rem; color:#0088CC"></i>
                    </a>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 d-flex justify-content-start">
                      <div class="endfooter">
                        <div>
                          <img src="ludoking.png" alt="LudoKing">
                        </div>
                        <div class="ludoking">
                          <p class="mb-1 fw-bold">LudoKing</p>
                          <p class="mb-0" style="font-size: 11px; ">PLAY LUDO, SNAKE AND LADDER</p>
                        </div>
                      </div>
                    </div>
                  </div>
                   </div>
                 
                  

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>




<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="rules" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">Rules</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="commission">COMMISSION CHARGES</p>
        <p class="charges">10 T0 100 COMMISSION 10%</p>
        <p class="charges">100 T0 500 COMMISSION 5%</p>
        <p class="charges">500 T0 25K COMMISSION 3%</p>
        <p style="color: #912391; margin-top:15px;">***</p>

        <ol>
            <li style="color: #DA00ED;">अगर आप जीत गई राशि से गेम लगा कर कैंसिल करें फिर वो राशि आपके डिपॉजिट वॉलेट में रहेगी!</li>
            <li>अगर कोई प्लेयर Popular Code देता है और Popular Code देने वाला जीत जाता है, तो उसे विनिंग का 50% दिया जाएगा। Opponent गेम को 1 Dice Open तक छोड़ सकता है, और उसका कोई चार्ज नहीं काटा जाएगा। अगर वह पूरा गेम खेल लेता है और Loss हो जाता है, तो उसे 60% Loss दिया जाएगा। अगर Opponent जीत जाता है, तो उसे पूरा Winning मिलेगा और कोड देने वाले को पूरा Loss होगा।</li>
            <li style="color: blue;">दोनों प्लेयर की टोकन (काटी) घर से बाहर न आयी हो तो लेफ्ट होकर गेम कैंसिल किया जा सकता है ! [कैंसिल प्रूफ करने के लिए वीडियो आवश्यक होगा</li>
            <li>Game समाप्त होने के 15 मिनट के अंदर रिजल्ट डालना आवश्यक है अन्यथा Opponent के रिजल्ट के आधार पर गेम अपडेट कर दिया जायेगा चाहे आप जीते या हारे और इसमें पूरी ज़िम्मेदारी आपकी होगी इसमें बाद में कोई बदलाव नहीं किया जा सकता है !</li>
            <li style="color: #FF0000;">Win होने के बाद आप गलत स्क्रीनशॉट डालते है तो गेम को सीधा Cancel कर दिया जायेगा इसलिए यदि आप स्क्रीनशॉट लेना भूल गए है तो पहले Support में एडमिन को संपर्क करे उसके बाद ही उनके बताये अनुसार रिजल्ट पोस्ट करे ! **(JOIN SS COMPULSORY)</li>
            <li style="color: #008000;">दोनों प्लेयर की टोकन (काटी) घर से बाहर न आयी हो तो लेफ्ट होकर गेम कैंसिल किया जा सकता है ! [कैंसिल प्रूफ करने के लिए वीडियो आवश्यक होगा]</li>
            <li style="color: #FF0000;">एक बार रिजल्ट डालने के बाद बदला नहीं जा सकता है इसलिए सोच समझकर रिजल्ट पोस्ट करे गलत रिजल्ट डालने पर पेनल्टी भी लगायी जाएगी चाहे आपने वो गलती से डाला हो या जान भुजकर</li>
            <li>Fresh आईडी गेम के मामले में केवल पासा के उपयोग के प्रमाण पर रद्द कर दिया जाएगा गोटी के खुले होने के बावजूद नहीं ? गेम का रिकॉड होना जरूरी है अगर कोई अपनी आईडी का नाम नो फ्रेश कर रका तो नो फ्रेश आईडी ही टेक करे जिनका इंटरेस्ट हो वही टेक करे टेबल को ( इसका अंतिम रिजल्ट एडमिन देगा )</li>
            <li style="color: #008000;">यदि आपका प्रतिद्वंद्वी खेल शुरू या बीच में खेल छोड़ देता है/डिसकनेक्ट हो जाता है,<br>
              A.1 गोटी ओपन होने पर 30% दिया जाएगा<br>
              B. 2 गोटी ओपन होन 50% विनिंग दी जाएगी<br>
              C. 3, 4 गोटी ओपन होने पर 100% जीत मिलेगी</li>
        </ol>
      </div>
    </div>
  </div>
</div>
