<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image">
                        <img src="customer-service.png">
                    </div>
                    <div>
                        <a href="https://www.whatsapp.com/" class="btn btn-light w-100"><i class="fa-brands fa-whatsapp"></i> Contact on WhatsApp</a>
                        <a href="https://www.instagram.com/" class="btn btn-danger w-100"><i class="fa-brands fa-instagram"></i> Connect on Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>