<div class="container">
    <div class="row mt-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                           
                           <div class="d-flex justify-content-between align-items-center fw-bold">
                            <img src="lp.jpg" alt="" height="60px" width="60px">
                            <p class="d-flex justify-content-start align-items-start" style="margin-right: 60px;">Payable Amount</p>
                            <h5><i class="bi bi-currency-rupee"></i> 50</h5>
                           </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-start gap-2">
                                <img src="image.png" alt="" height="25px" width="25px">
                            <p class="fw-bold" style="margin-top: -5px;">Scan QR to Pay</p>
                            </div>
                            <p class="paymenttitle">Open UPI app and Scan</p>

                            <img src="image.png" alt="" height="150px" width="150px" style="margin: 50px; margin-left: 80px;">
                            <p class="d-flex justify-content-center align-items-center" style="font-size: 12px;">Checking payment status...<span style="color: blue;">3:15</span></p>
                            <img src="spinner-1.gif" alt="" height="30px" width="30px" style="margin-left: 150px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>