<div class="row">
     
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h4>Game Mode: {{ players }} Players</h4>
        <div class="d-flex justify-content-between">
            <img src="ludo-dice.jpg" alt="" height="50px" width="50px">
            <img src="ludo-dice.jpg" alt="" height="50px" width="50px">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container1">
                        <!--Green-->
                        <div class="row1-col1 green">
                            <div class="row1-col1-child white">
                                <div class="green"></div>
                                <div class="green"></div>
                                <div class="green"></div>
                                <div class="green"></div>
                            </div>
                        </div>
                        <!--Path-->
                        <div class="row1-col2">
                            <!--1st Lines-->
                            <div></div>
                            <div></div>
                            <div></div>
                            <!--2nd Lines-->
                            <div></div>
                            <div class="yellow"></div>
                            <div class="yellow">
                                <div class="icon">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </div>
                            <!--3rd Lines-->
                            <div>
                                <i class="fa fa-star" style="color: #f6c700;"></i>
                            </div>
                            <div class="yellow"></div>
                            <div></div>
                            <!--4th Lines-->
                            <div></div>
                            <div class="yellow"></div>
                            <div></div>
                            <!--5th Lines-->
                            <div></div>
                            <div class="yellow"></div>
                            <div></div>
                            <!--6th Lines-->
                            <div></div>
                            <div class="yellow"></div>
                            <div></div>
                        </div>
                        <!--Yellow-->
                        <div class="row1-col3 yellow">
                            <div class="row1-col3-child white">
                                <div class="yellow"></div>
                                <div class="yellow"></div>
                                <div class="yellow"></div>
                                <div class="yellow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container2">
                        <!--Path-->
                        <div class="row2-col1">
                            <!--1st Line-->
                            <div></div>
                            <div class="green">
                                <div class="icon">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <!--2nd Line-->
                            <div></div>
                            <div class="green"></div>
                            <div class="green"></div>
                            <div class="green"></div>
                            <div class="green"></div>
                            <div class="green"></div>
                            <!--3rd Line-->
                            <div></div>
                            <div>
                                <i class="fa fa-star" style="color: #84c21f;"></i>
                            </div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <!--Home-->
                        <div class="row2-col2">
                            <div class="contain-triangle">
                                <div class="ludo-home"></div>
                            </div>
                        </div>
                        <!--Path-->
                        <div class="row2-col3">
                            <!--1st Line-->
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div>
                                <i class="fa fa-star" style="color: #0092dc;"></i>
                            </div>
                            <div></div>
                            <!--2nd Line-->
                            <div class="blue"></div>
                            <div class="blue"></div>
                            <div class="blue"></div>
                            <div class="blue"></div>
                            <div class="blue"></div>
                            <div></div>
                            <!--3rd Line-->
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div class="blue">
                                <div class="icon">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container3">
                        <!--Red-->
                        <div class="row3-col1 red">
                            <div class="row3-col1-child white">
                                <div class="red"></div>
                                <div class="red"></div>
                                <div class="red"></div>
                                <div class="red"></div>
                            </div>
                        </div>
                        <!--Path-->
                        <div class="row3-col2">
                            <!--1st Line-->
                            <div></div>
                            <div class="red"></div>
                            <div></div>
                            <!--2nd Line-->
                            <div></div>
                            <div class="red"></div>
                            <div></div>
                            <!--3rd Line-->
                            <div></div>
                            <div class="red"></div>
                            <div></div>
                            <!--4th Line-->
                            <div></div>
                            <div class="red"></div>
                            <div>
                                <i class="fa fa-star text-center" style="color: #dc2418;"></i>
                            </div>
                            <!--5th Line-->
                            <div class="red">
                                <div class="icon">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </div>
                            <div class="red"></div>
                            <div></div>
                            <!--6th Line-->
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <!--Blue-->
                        <div class="row3-col3 blue">
                            <div class="row3-col3-child white">
                                <div class="blue"></div>
                                <div class="blue"></div>
                                <div class="blue"></div>
                                <div class="blue"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <img src="ludo-dice.jpg" alt="" height="50px" width="50px">
            <img src="ludo-dice.jpg" alt="" height="50px" width="50px">
        </div>
    </div>
</div>