<div class="container">
    <div class="row mt-2">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Verify Phone Number</h6>
                        </div>
                        <div class="card-body">
                            <form>
                                <a class="btn btn-outline-dark"><i class="bi bi-arrow-left-circle"></i> Change Number</a>
                            <input type="number" class="form-control" placeholder="######" required>
                            <button class="btn btn-outline-primary"><i class="bi bi-arrow-clockwise"></i>  Resend OTP</button><br><br>
                            <p class="mt-2 login">
                                By Continuing, you agree to our <a class="anchor" routerLink="/legalterm">Legal Terms</a> and you are 18 years or older.
                            </p>
                            <a routerLink="/userhome" class="btn btn-primary w-100">VERIFY</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>