.btn-outline-dark{
    height: 30px; 
    line-height: 1; 
    padding: 5px 12px; 
    border-width: 1px; 
    font-size: 14px; 
}
input{
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-outline-primary{
    height: 30px; 
    line-height: 1; 
    margin-top: 10px;
    padding: 5px 12px; 
    border-width: 1px; 
    font-size: 14px; 
    float: right;
}
.login{
    font-size: 16px;
    font-weight: 450;
    text-align: center;
}
.anchor {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 500;
  }