<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main">
                        <img src="winner-cup.png" height="20px" width="20px">
                    Classic Ludo
                    <img src="winner-cup.png" height="20px" width="20px">
                    </div>

                    <div class="card fw-bold p-3 mt-3">
                        <div class="text-center mb-3">
                            Bet Number : <span class="text-success">#119896</span>
                        </div>

                        <div class="d-flex flex-wrap justify-content-between align-items-center ">
                            <div class="d-flex align-items-center gap-2">
                                <img src="avatar4.png" alt="" height="30px" width="30px">
                                <span>&#64;User1</span>
                            </div>
                            <div>
                                <img src="vs.webp" alt="" height="40px" width="40px">
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <span>&#64;User2</span>
                                <img src="avatar10.png" alt="" height="30px" width="30px">
                            </div>
                        </div>

                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="text-success">
                                <i class="bi bi-currency-rupee"></i> 300
                            </div>
                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#rules">
                                <i class="bi bi-info-circle"></i>&nbsp;Rules
                              </button>
                        </div>
                        <hr>

                        
                            <form action="">
                                <!--<label for="" class="text-center">Send Room Code</label>-->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Send Room Code">
                                <span class="input-group-text text-light bg-dark btn btn-dark">Send</span>
                            </div>
                            </form>
                        <hr>

                        <div>
                            <form action="">
                                Submit Result 
                                <select class="form-control">
                                    <option value="">Select Result</option>
                                    <option value="">I Won</option>
                                    <option value="">I Lost</option>
                                    <option value="">Game Cancelled</option>
                                    <option value="">Player Not Joined</option>
                                </select>
                                <label>Upload Your Screenshot</label>
                                <input type="file" class="form-control">
                                <button class="btn btn-outline-dark d-flex mx-auto mt-3">Submit</button>
                            </form>
                        </div>
                        <hr>

                        <p class="text-danger text-center fw-bold">Note</p>

                        <ol class="fw-bold">
                            <li class="text-success">सही Result ही Upload करें |</li>
                            <li class="text-danger">गलत Result Upload करने पर 50 रुपये Penalty लगेगी |</li>
                            <li class="text-info">अपना Code सही डाले अन्यथा Room से बाहर हो जाएंगे |</li>
                        </ol>


                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="rules" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalLabel">Rules</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="commission">COMMISSION CHARGES</p>
          <p class="charges">10 T0 100 COMMISSION 10%</p>
          <p class="charges">100 T0 500 COMMISSION 5%</p>
          <p class="charges">500 T0 25K COMMISSION 3%</p>
          <p style="color: #912391; margin-top:15px;">***</p>
  
          <ol>
              <li style="color: #DA00ED;">अगर आप जीत गई राशि से गेम लगा कर कैंसिल करें फिर वो राशि आपके डिपॉजिट वॉलेट में रहेगी!</li>
              <li>अगर कोई प्लेयर Popular Code देता है और Popular Code देने वाला जीत जाता है, तो उसे विनिंग का 50% दिया जाएगा। Opponent गेम को 1 Dice Open तक छोड़ सकता है, और उसका कोई चार्ज नहीं काटा जाएगा। अगर वह पूरा गेम खेल लेता है और Loss हो जाता है, तो उसे 60% Loss दिया जाएगा। अगर Opponent जीत जाता है, तो उसे पूरा Winning मिलेगा और कोड देने वाले को पूरा Loss होगा।</li>
              <li style="color: blue;">दोनों प्लेयर की टोकन (काटी) घर से बाहर न आयी हो तो लेफ्ट होकर गेम कैंसिल किया जा सकता है ! [कैंसिल प्रूफ करने के लिए वीडियो आवश्यक होगा</li>
              <li>Game समाप्त होने के 15 मिनट के अंदर रिजल्ट डालना आवश्यक है अन्यथा Opponent के रिजल्ट के आधार पर गेम अपडेट कर दिया जायेगा चाहे आप जीते या हारे और इसमें पूरी ज़िम्मेदारी आपकी होगी इसमें बाद में कोई बदलाव नहीं किया जा सकता है !</li>
              <li style="color: #FF0000;">Win होने के बाद आप गलत स्क्रीनशॉट डालते है तो गेम को सीधा Cancel कर दिया जायेगा इसलिए यदि आप स्क्रीनशॉट लेना भूल गए है तो पहले Support में एडमिन को संपर्क करे उसके बाद ही उनके बताये अनुसार रिजल्ट पोस्ट करे ! **(JOIN SS COMPULSORY)</li>
              <li style="color: #008000;">दोनों प्लेयर की टोकन (काटी) घर से बाहर न आयी हो तो लेफ्ट होकर गेम कैंसिल किया जा सकता है ! [कैंसिल प्रूफ करने के लिए वीडियो आवश्यक होगा]</li>
              <li style="color: #FF0000;">एक बार रिजल्ट डालने के बाद बदला नहीं जा सकता है इसलिए सोच समझकर रिजल्ट पोस्ट करे गलत रिजल्ट डालने पर पेनल्टी भी लगायी जाएगी चाहे आपने वो गलती से डाला हो या जान भुजकर</li>
              <li>Fresh आईडी गेम के मामले में केवल पासा के उपयोग के प्रमाण पर रद्द कर दिया जाएगा गोटी के खुले होने के बावजूद नहीं ? गेम का रिकॉड होना जरूरी है अगर कोई अपनी आईडी का नाम नो फ्रेश कर रका तो नो फ्रेश आईडी ही टेक करे जिनका इंटरेस्ट हो वही टेक करे टेबल को ( इसका अंतिम रिजल्ट एडमिन देगा )</li>
              <li style="color: #008000;">यदि आपका प्रतिद्वंद्वी खेल शुरू या बीच में खेल छोड़ देता है/डिसकनेक्ट हो जाता है,<br>
                A.1 गोटी ओपन होने पर 30% दिया जाएगा<br>
                B. 2 गोटी ओपन होन 50% विनिंग दी जाएगी<br>
                C. 3, 4 गोटी ओपन होने पर 100% जीत मिलेगी</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  