<div class="container">
    <div class="row mt-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Profile</h6>
                        </div>
                        <div class="card-body">
                                                       
                                <div class="position-relative d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#avatar">
                                    <!-- Profile Image -->
                                    <img src="avatar16.png" alt="" height="100" width="100" class="rounded-circle">
                                    <!-- Edit Icon centered -->
                                    <i class="bi bi-pencil-square text-dark"></i>
                                </div>

                        <label class="mt-3">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-text text-light bg-dark">Update</span>
                        </div>

                        <label>Mobile Number</label>
                        <input type="number" class="form-control">
                        

                        <div class="card mt-3">
                            <div class="card-header text-center">
                                <h6>Statistics</h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <!-- First Header -->
                                    <thead class="table-light">
                                        <tr>
                                            <td>Games Played</td>
                                            <td>Earnings</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>0</th>
                                            <th>0</th>
                                        </tr>
                                    </tbody>
                                
                                    <!-- Second Header -->
                                    <thead class="table-light">
                                        <tr>
                                            <td>Referral Earning</td>
                                            <td>Penalty</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>0</th>
                                            <th>0</th>
                                        </tr>
                                    </tbody>
                                </table>
                                

                        </div>

                    </div>
                    <button class="btn btn-danger w-100 mt-3 mb-5">
                         Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>





  
  <!-- Modal -->
  <div class="modal fade" id="avatar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Avatar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="avtar-container" class="modal-body  d-flex justify-content-center flex-wrap gap-2 m-2">
          <img src="avatar1.png" class="avtar-active" alt="" height="60px"  width="60px">
          <img src="avatar2.png" alt="" height="60px"  width="60px">
          <img src="avatar3.png" alt="" height="60px"  width="60px">
          <img src="avatar4.png" alt="" height="60px"  width="60px">
          <img src="avatar5.png" alt="" height="60px"  width="60px">
          <img src="avatar6.png" alt="" height="60px"  width="60px">
          <img src="avatar7.png" alt="" height="60px"  width="60px">
          <img src="avatar8.png" alt="" height="60px"  width="60px">
          <img src="avatar9.png" alt="" height="60px"  width="60px">
          <img src="avatar10.png" alt="" height="60px"  width="60px">
          <img src="avatar11.png" alt="" height="60px"  width="60px">
          <img src="avatar12.png" alt="" height="60px"  width="60px">
          <img src="avatar13.png" alt="" height="60px"  width="60px">
          <img src="avatar14.png" alt="" height="60px"  width="60px">
          <img src="avatar15.png" alt="" height="60px"  width="60px">
          <img src="avatar16.png" alt="" height="60px"  width="60px">
          <img src="avatar17.png" alt="" height="60px"  width="60px">
          <img src="avatar18.png" alt="" height="60px"  width="60px">
          <img src="avatar19.png" alt="" height="60px"  width="60px">
          <img src="avatar20.png" alt="" height="60px"  width="60px">
        </div>
        <div class="d-flex mx-auto mb-3">
            <button class="btn btn-primary">Update Avatar</button>
        </div>
      </div>
    </div>
  </div>

  