<div class="container">
    <div class="row mt-3">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <a [routerLink]="['/ludogame', 2]" class="btn btn-light">2 Player Mode</a>
            <a [routerLink]="['/ludogame', 3]" class="btn btn-light">3 Player Mode</a>
            <a [routerLink]="['/ludogame', 4]" class="btn btn-light">4 Player Mode</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  