<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>    
            <div class="col-sm-4">
                          
                    <div class="about">
                        "Refer your friends and enjoy a 2% referral reward. Start referring now and benefit from every transaction!"
                    </div>
                    <div class="frontpage">
                        <img src="frontpageludo.jpg">
                    </div>
                    <div class="warning">
                        यह खेल वित्तीय जोखिम का तत्व शामिल करता है और यह आदत लगने वाला हो सकता है। कृपया जिम्मेदारी से और अपने जोखिम पर खेलें।
                    </div>
                    <div class="col-sm-12 d-flex gap-2 footer p-3 align-items-center justify-content-center">
                        <div class="col-sm-10">
                            <a routerLink="/login" class="btn btn-danger w-100 fs-4"><i class="bi bi-controller"></i> Play Now</a>
                        </div>
                        <div class="col-sm-2">
                            <a routerLink="/support" class="btn btn-danger w-100 fs-4"><i class="bi bi-headset"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    
</body>
</html>
